{% extends "base.html" %}
{% block headerIncludes %}
<title>{{ title }}</title>
{% endblock %}
{% block body %}
{% include "page-header-light.html" %}
<!-- Page Header -->

<!-- Main Content -->
<div class="container demos">
    <div class="about-title">
        <h1>Demos</h1>
    </div>
    <div class="audio">
      <audio id="music">
      </audio>
      <div id="audioplayer">
          <div id="pButton"></div>
          <div id="timeline">    
          <div id="playhead"></div>
        </div>
      </div>
    </div>
    <div class="container">
        <div id="rates">
            {% for track in demos %}
                <div class="row track">
                    <div class="col-xs-4 col-sm-4">
                        <div class="item">{{ track.title }}</div>
                    </div>
                    <div class="col-xs-4 col-sm-4">
                        <div class="item">{{ track.originalArtist }}</div>
                    </div>
                    <div class="col-xs-4 col-sm-4">
                        <div class="item">
                              <button id="{{ loop.index }}" data-audioSrc="{{ track.audioSource}}" class="demo-button_play" type="button" onclick="play(this)"></button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<hr>
<script type="text/javascript" src="js/audioPlayer.js"></script>
{% endblock %}
