.post-preview > {
  a {
    color: $musicGrey;
    &:hover, &:focus {
      text-decoration: none;
      color: $musicPink;
    }
    > {
      .post-title {
        font-size: 30px;
        margin-top: 30px;
        margin-bottom: 10px;
      }
      .post-subtitle {
        margin: 0;
        font-weight: 300;
        margin-bottom: 10px;
      }
    }
  }
  .post-meta {
    color: $mobileGrey;
    font-size: 18px;
    font-style: italic;
    margin-top: 0;
    > a {
      text-decoration: none;
      color: $musicGrey;
      &:hover, &:focus {
        color: $musicPink;
        text-decoration: underline;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .post-preview > a > .post-title {
    font-size: 36px;
  }
}

.section-heading {
  font-size: 36px;
  margin-top: 60px;
  font-weight: 700;
}

.caption {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  font-style: italic;
  margin: 0;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.about {
  padding-top: 70px;
}

#myCarousel { 
  font-size: 16px;

  @media only screen and  (min-width:641px)  {
    font-size: 20px;
    .carousel-caption {
      padding-bottom: 60px;
    }
  }
}
#myCarousel img {
  object-fit: cover;
  width: 1200px;
  height: 400px;
  opacity: 0.8;
  filter: brightness(30%)
}

#myCarousel .nav a small {
    display:block;
}
#myCarousel .nav {
    background:#eee;
}
#myCarousel .nav a {
    border-radius:0px;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover {
    background-color: $musicPink !important;
}

.about-title {
  margin-bottom: 20px;
}