//colors
$black: black;
$white: white;
$black_20: rgba(0, 0, 0, 0.2);
$white_40: rgba(255,255,255,.4);

//fonts
$font_0: Open Sans;
$font_1: sans-serif;

//@extend-elements
//original selectors
//.site-heading .subheading, .page-heading .subheading
%extend_1 {
	font-size: 24px;
	font-family: $font_0, $font_1;
	font-weight: 300;
}

.intro-header {
    color: $white;
    height: 240px;
    margin-bottom: 0;

    h1 {
        margin-top: 70px;
    }

    .subheading {
        display: block;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        background-color:rgba(0,0,0,0.5);
    }

}

.demos {
    margin-top: 30px;

    h1 {
        margin-bottom: 20px;
    }

    p {
        @extend %extend_1;
        font-size: 16px;
    }
}

#rates {
    @extend %extend_1;
	width: 100%;
	font-size: 14px;
	color: $musicGrey;
}

#rates .row > div {
	display: table;
	padding: 0 4px;
	border: none;
	text-align: center;
}

#rates .row > div .item {
	height: 110px;
	width: 100%;
	display: table-cell;
	vertical-align: middle;
}

#rates .row.head > div {
	// border-right: none;
	height: 100px;
}

#rates .row.head span {
	display: block;
	font-size: 14px;
	font-weight: bold;
}

#audioplayer{
    @extend %extend_1;
    color: $white;
    font-size: 16px;
    width: 100%;
    height: 60px;
    margin: auto;
    background-color: $black; 
    padding-top: 18px;
    text-align: center;
    
}

#timeline{
    height: 22px;
    margin: auto;
    border-radius: 6px;
    background: $white; 
    padding: 0;
}
#playhead{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-image: url('../../img/symbol_colour.png');
    background-size: cover;
}

.demo-button {

    &_play { 
        background: transparent;
        border: none;
        outline: none;

        &:after {
            content: "\f01d"; 
            font-family: FontAwesome; 
            font-size: 30px;   
        }
    }

    &_pause {
        background: transparent;
        border: none;
        outline: none;

        &:after {
            color: $musicPink;
            content: "\f28e"; 
            font-family: FontAwesome; 
            font-size: 30px;  
             
        } 
    }  
}

@media only screen and(min-width:641px) {
	.intro-header {
		height: 340px;
	}
	.home-logo {
		display: block;
	}
}
@media (min-width: 768px) {
    .subheading {
		font-size: 30px;
	}

	.site-heading h1 {
		font-size: 80px;
	}

	.page-heading h1 {
		font-size: 80px;
	}

	#rates {
		font-size: 16px;
	}
	#rates .row > div {
		padding: 0 15px;
	}
	#rates .row > div .item {
		height: 80px;
	}
	#rates .row.head > div {
		height: 130px;

	}
	#rates .row.head span {
		font-size: 20px;
	}
	#rates .row.head .form-btn a {
		padding: 0 10px;
	}

}

@media only screen and(min-width:961px) {
	.intro-header {
		height: 440px;
	}

    .navbar-brand {
		display: block;
	}

}

#sticky.stick {
    margin-top: 0 !important;
    position: fixed;
    top: 0;
    z-index: 10000;
    width: 100%;
}
